@model Ideas4AppsHub.MVC.Models.BusinessModel

@{
    ViewBag.Title = "ManageBusiness";
}

<div class="page-header">
    <h2>Manage Business</h2>
</div>
<div>
    <div style="font-size:  18px">
        <p class="control-label">Business Name:</p>
        <input id="businessName" type="text" size="16"/>
    </div><br />
    
    <div style="font-size:  18px">
        <p class="control-label">Business Description:</p>
        <textarea class="form-control" id="businessDescription"></textarea>
    </div><br />

    <div style="font-size:  18px">
        <p class="control-label">Business Address:</p>
        <div>
        <input id="businessAddress1" type="text" size="16"/>
        </div>
        <input id="businessAddress2" type="text" size="16"/>
        <div>
        <input id="businessAddress3" type="text" size="16"/>
        </div>
    </div><br />

    <div style="font-size:  18px">
        <p class="control-label">Business Postal Code:</p>
        <input id="businessPostalCode" type="text" size="16"/>
    </div><br />

    <div style="font-size:  18px">
        <p class="control-label">Business telephone Number:</p>
        <input id="businessTelephoneNumber" type="text" size="16"/>
    </div><br />

    <div style="font-size:  18px">
        <p class="control-label">Business Hours:</p>
        <input id="businessHours" type="text" size="16"/>
    </div><br />

    <div style="font-size:  18px">
        <p class="control-label">Business Webpage Url:</p>
        <input id="businessWebUrl" type="text" size="16"/>
    </div><br />
    
    <div style="font-size:  18px">
        <p>Status:</p>
        <select class="btn" id="statusSelect" data-bind="options: statusOptions"></select>
    </div><br />

    <div style="font-size:  18px">
        <p>Tags:</p>
        <textarea class="form-control" id="tagsText"></textarea>
    </div>

    <div style="font-size:  18px">
        <p>Catagory:</p>
        <select class="btn" id="catagorySelect" data-bind="options: catagoryOptions"></select>
    </div><br />

    <div style="font-size:  18px">
        <p>Active:         <input type="checkbox" id="activeCheckBox"/></p>
    </div><br />

    <div>
        <button type="button" class="btn btn-primary" data-bind="click: CreateBusiness">Create</button>
    </div>
</div>

@section scripts{
<script>
    var viewModel = @(Html.Raw(Json.Encode(Model)))
    

    function manageBusinessViewModel() {

        var self = this;
        self.statusOptions = ko.observableArray(viewModel.Status);
        self.catagoryOptions = ko.observableArray(viewModel.Category);

        CreateBusiness = function () {
            $.post("../Admin/CreateBusiness", { name: businessName.value, description: businessDescription.value, telephone: businessTelephoneNumber.value, address1: businessAddress1.value, address2: businessAddress2.value, address3: businessAddress3.value, postalcode: businessPostalCode.value, status: statusSelect.value, businesshours: businessHours.value, tags: tagsText.value, weburl: businessWebUrl.value, category: catagorySelect.value, active: activeCheckBox.checked },
                function (response) { handleRegisterResponse(response); });
        }
    }

    function handleRegisterResponse(response) {
        alert(response.isOk);
    }

    ko.applyBindings(new manageBusinessViewModel(), document.getElementById("bodyDiv"));

    $(document).ready(function (){
        busyViewModel.IsBusy(false);
    });
</script>    
}