@model Ideas4AppsHub.MVC.Models.BusinessModel

@{
    ViewBag.Title = "ManageBusiness";
}

<div class="page-header">
    <h2>Manage Business</h2>
</div>

<table>
    
        <tr style="font-size:  16px  ;">
            <td style="width:200px; class="control-label">Name:</td>
            <td><input id="businessName" type="text" size="16"/></td>
        </tr>

    <tr></tr>
    
        <tr style="font-size:  16px">
            <td  class="control-label">Description:</td>
            <td><textarea class="form-control" id="businessDescription"></textarea></td>
        </tr>

        <tr style="font-size:  16px">
            <td class="control-label">Address:</td>            
            <td><input id="businessAddress1" type="text" size="16"/></td>            
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="businessAddress2" type="text" size="16"/>
            </td>
        </tr>
            <tr>
            <td></td>
            <td>
                <input id="businessAddress3" type="text" size="16"/>
                </td>
        </tr>
        

        <tr style="font-size:  16px">
            <td class="control-label">Code:</td>
            <td><input id="businessPostalCode" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td class="control-label">Telephone Number:</td>
            <td><input id="businessTelephoneNumber" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td class="control-label">Business Hours:</td>
            <td><input id="businessHours" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td class="control-label">Webpage Url:</td>
            <td><input id="businessWebUrl" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td  class="control-label">
                GPS:
            </td>
        </tr>
        <tr style="font-size:  16px">
            <td class="control-label">GPS Latitude:</td>
            <td><input id="businessGPSLatitude" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td class="control-label">GPS Longitude:</td>
            <td><input id="businessGPSLongitude" type="text" size="16"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td>Tags:</td>
            <td><textarea class="form-control" id="tagsText"></textarea></td>
        </tr>

        <tr style="font-size:  16px">
            <td>Catagory:</td>
            <td><select class="btn" id="catagorySelect" data-bind="options: catagoryOptions"></select></td>
        </tr>

        <tr></tr>
        <tr style="font-size:  16px; height:60px">
            <td>Active:</td>
            <td><input type="checkbox" id="activeCheckBox"/></td>
        </tr>

        <tr style="font-size:  16px">
            <td>Photo:</td>

            <td><form  id="uploadAll" action="../Admin/UploadPhoto" method="post" enctype="multipart/form-data" target="hiddenIframe">                        
            
                <input type="file" name="photo" style="width:360px" id="photo" />
                <input type="hidden" name="id" style="width:350px;" data-bind="value: guid" />
                <div hidden>
                    <input type="submit" class="btn btn-primary" id="uploadPhotoBtn" name="submit" value="Laai op" />
                </div>
             </form></td>
            <iframe id="hiddenIframe" style="display:none"></iframe>
        </tr>
    
        <tr>
            <td></td>
            <td><button type="button" class="btn btn-primary" data-bind="click: CreateBusiness">Create</button></td>
        </tr>


</table>

@section scripts{
<script>
    var viewModel = @(Html.Raw(Json.Encode(Model)))
    

    function manageBusinessViewModel() {

        var self = this;
        self.catagoryOptions = ko.observableArray(viewModel.Category);

        CreateBusiness = function () {
            $.post("../Admin/CreateBusiness", { name: businessName.value, description: businessDescription.value, telephone: businessTelephoneNumber.value, address1: businessAddress1.value, address2: businessAddress2.value, address3: businessAddress3.value, postalcode: businessPostalCode.value, status: "New", businesshours: businessHours.value, tags: tagsText.value, weburl: businessWebUrl.value, category: catagorySelect.value, active: activeCheckBox.checked, longitude: businessGPSLongitude.value, latitude: businessGPSLatitude.value},
                function (response) { handleRegisterResponse(response); });
        }
    }
    guid = ko.observable();
    function handleRegisterResponse(response) {        
        guid(response.projectId);
        $("#uploadPhotoBtn").click();
    }

    ko.applyBindings(new manageBusinessViewModel(), document.getElementById("bodyDiv"));

    $(document).ready(function (){
        busyViewModel.IsBusy(false);
    });
</script>    
}