USE [master]
GO
/****** Object:  Database [ideas4apps]    Script Date: 8/14/2013 3:55:23 PM ******/
CREATE DATABASE [ideas4apps]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ideas4apps', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ideas4apps.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ideas4apps_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ideas4apps_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ideas4apps].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ideas4apps]
GO
/****** Object:  Table [dbo].[business]    Script Date: 8/14/2013 3:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[business](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[telephone_number] [varchar](15) NULL,
	[last_update] [datetime] NULL,
	[status] [varchar](50) NULL,
	[business_hours] [varchar](50) NULL,
	[tags] [varchar](50) NULL,
	[weburl] [varchar](50) NULL,
	[photo] [image] NULL,
	[category] [varchar](50) NULL,
	[active] [bit] NULL,
	[address1] [varchar](50) NULL,
	[address2] [varchar](50) NULL,
	[address3] [varchar](50) NULL,
	[postal_code] [varchar](50) NULL,
	[gps] [varchar](50) NULL,
 CONSTRAINT [PK_business] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
