<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ideas4appsEntities" connectionString="metadata=res://*/ideas4appshub.csdl|res://*/ideas4appshub.ssdl|res://*/ideas4appshub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP2-PC\MSSQLSERVER_2;initial catalog=ideas4apps;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>