@{
    ViewBag.Title = "Ideas4AppsHub";
}
<div class="hero-unit">
	<h1>Ideas 4 Apps</h1>
</div>

@section scripts {
	<script>
		$(document).ready(function ()
		{
			navBarViewModel.SelectedItemId(1); //Home
			sideBarViewModel.SelectedItemId(1); //Home
			busyViewModel.IsBusy(false);
		});
	</script>
}
